.productCard {
    width: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    scale: 1.0;
    transition: all 0.3s ease;
    background-color: rgb(241, 241, 241);
    padding: 1.5em;
    border-radius: 25px;
    box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 1px 2px rgb(99, 97, 90);
}

.productCard:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.productImageWrapper {
    width: 100%;
    aspect-ratio: 1 / 1;
    overflow: hidden;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.productImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    border-radius: 15px;
    box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 1px 2px rgb(99, 97, 90);
}

.productTitle {
    font-size: 1.5rem;
    margin: 1em 0 0.5em 0;
    font-weight: bolder;
}

.productPrice {
    font-size: 1.25rem;
    color: #555555;
}