.footerSection {
    background-color: #7a4178;
    color: #fff;
    padding: 1.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-size: clamp(0.75rem, 1.5vw, 1.5rem);
    vertical-align: middle;
}