.footerSection {
    background-color: var(--bg);
    padding: 1.5em 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerText {
    font-size: var(--ts-text-s);
    vertical-align: middle;
}