.notFoundContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 30vh;
    background-color: var(--bg-light);
}

.notFoundTitle {
    font-size: clamp(2rem, 4vw + 1rem, 5rem);
    font-weight: bolder;
    margin-bottom: 1rem;
}

.notFoundSubtitle {
    font-size: var(--ts-text-sm);
    color: var(--text-muted);
}