:root {
    /* BACKGROUNDS */
    --bg-dark: hsl(220 15% 10%);
    --bg: hsl(220 12% 14%);
    --bg-light: hsl(220 10% 20%);
    --bg-lighter: hsl(220 18% 25%);

    /* TEXT */
    --text: hsl(0 0% 96%);
    --text-muted: hsl(220 10% 45%);

    /* ACCENT COLORS */
    --primary: hsl(358 70% 55%);
    --secondary: hsl(42 60% 60%);

    /* BORDERS */
    --border: 0.2em solid hsl(220 18% 25%);
    --border-muted: 0.2em solid hsl(220 12% 18%);

    /* HIGHLIGHT */
    --highlight: hsl(42 70% 68%);

    /* SHADOWS */
    --shadow-inset: inset 0 1px 4px rgba(0, 0, 0, 0.6),
        inset 0 1px 8px rgba(0, 0, 0, 0.75);

    --shadow: 0 1px 4px rgba(0, 0, 0, 0.55),
        0 1px 8px rgba(0, 0, 0, 0.65);

    /* TRANSITONS */
    --transition-fast: all 0.3s ease;
    --transition-slow: all 0.5s ease;

    /* FONT SIZES */
    --ts-text-s: clamp(0.5rem, 1.5vw + 0.5rem, 1.25rem);
    --ts-text-sm: clamp(0.75rem, 1.5vw + 0.75rem, 1.5rem);
}