.shopContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2.5vh auto 5vh auto;
}

.shopProductsContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    width: 90%;
    margin-top: 2rem;
}

.shopTitle {
    font-family: "FugazOne", sans-serif;
    font-size: clamp(5.5rem, 8vw + 2rem, 10rem);
}

.loadMoreButton {
    font-size: var(--ts-text-sm);
    font-weight: bold;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    color: var(--text);
    padding: 0.75em 1.5em;
    border-radius: 15px;
    border: var(--border);
    transition: var(--transition-fast);
    display: block;
    width: fit-content;
    margin: 2.5em auto 0 auto;
}

.loadMoreButton:hover {
    background-color: var(--bg-lighter);
    border: var(--border-muted);
    transform: scale(1.05);
}