.navbarSection {
    width: 100%;
    height: 10vh;
    background-color: #7a4178;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 1.5em;
    margin-right: 1.5em;
    padding: 0.2em;
}

.navbar li a {
    text-decoration: none;
    font-size: clamp(1rem, 1.5vw, 1.5rem);
    color: white;
}