.navbarSection {
    width: 100%;
    height: 10vh;
}

.navbar {
    list-style: none;
    display: flex;
    justify-content: end;
    gap: 1.5em;
    margin-right: 1.5em;
    padding: 0.2em;
}

.navbar li a {
    font-size: var(--ts-text-sm);
    font-weight: 450;
}