.blogCard {
    width: min(100%, 45rem);
    margin: 1.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2.5em;
    scale: 1.0;
    transition: all 0.3s ease;
    background-color: rgb(241, 241, 241);
    padding: 1.5em;
    border-radius: 25px;
    box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 1px 2px rgb(99, 97, 90);
}

.blogCard:hover {
    transform: scale(1.02);
    transition: all 0.3s ease;
}

.blogCardImage {
    width: 15rem;
    height: auto;
    border-radius: 15px;
    border-radius: 25px;
    box-shadow: inset 0 1px 4px rgb(255, 255, 255), 0 1px 4px rgb(99, 97, 90), 0 1px 6px rgb(116, 116, 116);
}

.blogCardDate {
    font-size: 1.2rem;
    margin-bottom: 0.5em;
    color: #555555;
}

.blogCardTitle {
    font-size: 2rem;
    margin-bottom: 1em;
    font-weight: bolder;
}

.blogCardReadMore {
    font-size: 1.25rem;
    background-color: rgb(219, 219, 219);
    box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 1px 2px rgb(99, 97, 90), 0 1px 4px rgb(116, 116, 116);
    color: #0f0f0f;
    padding: 0.5em 1em;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.blogCardReadMore:hover {
    cursor: pointer;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .blogCard {
        flex-direction: column;
        width: 90%;
        margin-bottom: 2em;
    }

    .blogCardImage {
        width: 100%;
        height: auto;
    }
}

@media (min-width: 3440px) {
    .blogCard {
        width: min(100%, 60rem);
    }
}