.blogCard {
    width: min(100%, 60rem);
    background-color: var(--bg);
    box-shadow: var(--shadow-inset);
    margin: 1.5em 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: clamp(1em, 3vw, 2.5em);
    padding: clamp(1em, 2vw, 2em);
    border-radius: 25px;
}

.blogCardImage {
    width: 15rem;
    height: auto;
    border-radius: 25px;
    border: var(--border);
    box-shadow: var(--shadow);
}

.blogCardDate {
    font-size: var(--ts-text-s);
    margin-bottom: 0.5em;
    color: var(--text-muted);
}

.blogCardTitle {
    font-size: clamp(0.5rem, 2vw + 1rem, 2rem);
    margin-bottom: 1em;
    font-weight: bolder;
}

.blogCardReadMore {
    background-color: var(--bg-light);
    box-shadow: var(--shadow);
    padding: 0.5em 1em;
    border-radius: 15px;
}

.blogCardReadMore:hover {
    background-color: var(--bg-lighter);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .blogCard {
        flex-direction: column;
        width: 90%;
        margin: 1em 0;
    }

    .blogCardImage {
        width: 100%;
        height: auto;

    }
}

@media (min-width: 3440px) {
    .blogCard {
        width: min(100%, 75rem);
    }
}