.heroSection {
    width: 100%;
    height: auto;
    background-color: var(--primary);
}

.heroContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heroTitle {
    font-family: "FugazOne", sans-serif;
    font-size: clamp(5rem, 12vw + 2rem, 14rem);
    letter-spacing: -0.03em;
    line-height: 0.75;
    scale: 1.0;
    margin-top: 5vh;
    transition: var(--transition-slow);
}

.heroTitle:hover {
    scale: 1.05;
    animation: shake 0.5s;
}

.heroSubtitle {
    font-size: var(--ts-text-sm);
    text-align: center;
    margin-bottom: 10vh;
}


@keyframes shake {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(5deg);
    }

    50% {
        transform: rotate(0deg);
    }

    75% {
        transform: rotate(-5deg);
    }

    100% {
        transform: rotate(0deg);
    }
}