.shopSection {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopSectionTitle {
    font-family: "FugazOne", sans-serif;
    font-size: clamp(5.5rem, 12vw, 12rem);
}

.productContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-content: center;
    gap: 2.5%;
    margin: 5vh auto;
}

.browseMoreButton {
    font-size: 1.5rem;
    font-weight: bold;
    background-color: rgb(219, 219, 219);
    box-shadow: inset 0 1px 2px rgb(255, 255, 255), 0 1px 2px rgb(99, 97, 90), 0 1px 4px rgb(116, 116, 116);
    color: #0f0f0f;
    padding: 0.75em 1.5em;
    border-radius: 15px;
    text-decoration: none;
    transition: all 0.3s ease;
    display: block;
    width: fit-content;
    margin: 1.5em auto;
}

.browseMoreButton:hover {
    cursor: pointer;
    color: #b676b4;
    border-color: #b676b4;
    transition: all 0.3s ease;
}

@media (max-width: 768px) {
    .productContainer {
        flex-direction: column;
        margin: 5vh 5vw;
    }
}

@media (min-width: 1920px) {
    .productContainer {
        width: 70%;
    }
}

@media (min-width: 2560px) {
    .productContainer {
        width: 60%;
    }
}

@media (min-width: 3440px) {
    .productContainer {
        width: 50%;
    }
}