.shopSection {
    margin: 5vh 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.shopSectionTitle {
    font-family: "FugazOne", sans-serif;
    font-size: clamp(5.5rem, 8vw + 2rem, 12rem);
}

.productContainer {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
    align-content: center;
    gap: 2.5%;
    margin: 5vh auto;
}

.browseMoreButton {
    font-size: var(--ts-text-sm);
    font-weight: bold;
    background-color: var(--bg);
    box-shadow: var(--shadow);
    padding: 0.75em 1.5em;
    border-radius: 15px;
    border: var(--border);
    transition: var(--transition-fast);
    display: block;
    width: fit-content;
    margin: 1.5em auto;
}

.browseMoreButton:hover {
    background-color: var(--bg-lighter);
    border: var(--border-muted);
    transform: scale(1.05);
}

@media (max-width: 768px) {
    .productContainer {
        flex-direction: column;
        margin: 5vh 5vw;
    }
}

@media (min-width: 1920px) {
    .productContainer {
        width: 70%;
    }
}

@media (min-width: 2560px) {
    .productContainer {
        width: 60%;
    }
}

@media (min-width: 3440px) {
    .productContainer {
        width: 50%;
    }
}