@font-face {
  font-family: FugazOne;
  src: url("./src/assets/FugazOne-Regular.ttf");
}

@font-face {
  font-family: Rubik;
  src: url("./src/assets/Rubik-VariableFont_wght.ttf");
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-family: "Rubik", sans-serif;
  color-scheme: light dark;
  color: #10100e;
  background-color: #f4eede;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}