@font-face {
  font-family: FugazOne;
  src: url("/FugazOne-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Rubik;
  src: url("/Rubik-VariableFont_wght.ttf") format('truetype');
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-family: "Rubik", sans-serif;
  color-scheme: light dark;
  color: #10100e;
  background-color: white;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
}