@import './styles/variables.css';
@import './styles/globals.css';

@font-face {
  font-family: FugazOne;
  src: url("/FugazOne-Regular.ttf") format('truetype');
}

@font-face {
  font-family: Rubik;
  src: url("/Rubik-VariableFont_wght.ttf") format('truetype');
}

:root {
  line-height: 1.5;
  font-weight: 400;

  font-family: "Rubik", sans-serif;
  color: var(--text);
  background-color: var(--bg-light);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}