.blogSection {
    width: 80%;
    margin: 5vh auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@media (max-width: 768px) {
    .blogSection {
        width: 95%;
        margin: 0 auto;
        margin: 2vh auto 0 auto;
    }
}